body {
    min-width:200px;
    color: white;
    background: #100e17;
}

h1 {
    margin: auto;
    font-size: 3em;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-top: 10%;
}

.center-container {
    background: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.3em;
    position: absolute;
    z-index: 10;
    margin-top: 10%;
    right: 50%;
    transform: translate(50%,-50%);
    max-width: 90%;
    padding-bottom: 0.5em;
}

.input-group {
    padding: 0.1em;
}

.nav-link:hover {
    cursor:pointer;
    background-color: grey;
    color: white;
}
